
node_modules/
backend/.env
backend/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

__pycache__/
*.py[cod]
*.pyo
*.pyd
frontend/.env
.venv/
venv/
ENV/
*.egg-info/

.vscode/
.idea/

backend/data/*
!backend/data/ipc.json                # Example reference law JSON
!backend/data/ipc_vectors.json        # Small vector sample
!.gitkeep                             

backend/data/parsed_laws_vectors.json

backend/models/
~/.cache/

backend/parsed_laws/
*.sqlite3
*.db

.DS_Store
Thumbs.db

frontend/.streamlit/

*.bak
*.swp
*.swo
*.tmp
*.pdf

.github/
